.btn {

    border: 2px solid black;
    width: 100px;
    height: 40px;
    background-color: rgb(9, 28, 242);

}

.submit {

    border-radius: 10px;
}

li {
    width: 200px;
    background-color: rgb(158, 182, 237);
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;



}
